@import "tailwindcss";

:root {
  --background: rgb(255, 255, 255);
  --foreground: #1a1a1a;
  --secondary-text: #767676;
  --border-color: #e8e8e8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: #1a1a1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "DM Sans", sans-serif;
}

.border {
  border-color: var(--border-color);
}

.text-secondary {
  color: var(--secondary-text);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
